@import './colors.scss';

$br-small: 'min-width: 420px';
$br-medium: 'min-width: 768px';
$br-large: 'min-width: 1024px';

// boxes
$activity-width: 90px;
$activity-width-small: 80px;
$avatar-width: $activity-width;
$avatar-width-small: $activity-width-small;

// picture itself
$avatar-size-small: 40px;
$avatar-size: 50px;
$avatar-size-large: 85px;


$activity-top-gutter: 32px;
$activity-gutter-small: 1px;
$activity-gutter: 9.5px;


@mixin circle($radius) {
    width: $radius;
    height: $radius;
    border-radius: 50%;

}

@mixin flex($dir) {
    display: flex;
    flex-direction: $dir;
}


@mixin text-action($size: .8em) {
    text-transform: uppercase;
    color: $color-grey-light;
    font-size: $size;
}

@mixin text-number($size: 1.2em) {
    font-weight: bold;
}

@mixin text-fancy($size: 1em) {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    font-size: $size;
}

@mixin text-username($size: 1.067em) {
    color: $color-highlight;
    font-weight: bold;
    font-size: $size;
}

@mixin stripes($fg: $color-grey-lighter, $bg: white, $angle: 45, $width: 2px) {
    background: repeating-linear-gradient(
        #{$angle}deg,
        $fg,
        $fg $width,
        $bg $width,
        $bg 2*$width
    )
}
