@mixin text-caps {
    text-transform: uppercase;
}

@mixin text-username {
    color: $color-highlight;
    font-weight: bold;
}

@mixin text-fancy {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
}