@import "../imports.scss";

.activity-title {
    display: block;
    width: 80%;
    font-size: .8em;
    border-top: 1px solid #7D8B93;
    padding-top: .5em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #7D8B93;
    text-transform: uppercase;
}

.avatar-box {
    @include circle($avatar-size);
    overflow: hidden;
    margin: auto;
}

.avatar-box > img { /* prevent squashing the aspect ratio*/
    height: $avatar-size;
    min-width: $avatar-size;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: -5px;
    left: calc(50% - 5px);
}

.dot--inactive {
    background: #D4D5D6;
}